/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    padding-left: 5%;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.title__profile{
    border-radius: 100%;
    width: 368px;
    height: 368px;
}
.title__bio{
    font-size: 75px;
    font-weight: bold;
}

.menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
    align-items: center;
}
/*Sección Title*/

.title__network{
    display: flex; 
    justify-content: start;
    gap: 32px;
}
.title__network__item{
    font-weight: bolder;
}
.title__subsection{
    font-weight: normal;
    padding-bottom: 1%;
}

/*Sección About*/

.about{
    background-color: lightcyan;
}
.about__container{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.about__title{
    font-size: 38px;
}
.about__container p{
    width: 50%;
    height: 30%;
}
.about__container img{
    width: 140px;
    height: 52px;
}
/* skills */
.skills{
    display: flex;
    flex-direction: column;
}
.skills__title{
    align-self: center;
    margin-bottom: 10px;
}
.skills__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    padding-left: 5%;
    padding-right: 5%;
    gap: 50px;
    align-items: center;
}
.skills__box{
   background-color: #FFFFFF;
   width: 224px;
   height: 118px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/*Sección Hobbies*/

.hobbies{
    display: flex;
    flex-direction: column;
 }
 .hobbies__title{
    align-self: center;
    margin-bottom: 10px;
 }
 .hobbies__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    padding-left: 5%;
    padding-right: 5%;
    gap: 50px;
}

.hobbies__box{
    background-color: #FFFFFF;
    width: 224px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Experiencia Académica*/
/* Corrige esto, no pueden ir padding  o sí pero primero alinealas a los obbies, de ahí ya vas acomodando */
.academic{
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding-bottom: 5%;
}

.academic__title{
    text-align: center;
    margin-top: 5%;
}
.academic__courses{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 15px;
}
.academic__courses__box{
    background-color: #FFFFFF;
    width: 368px;
    height: 286px;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}
.academic__courses__item__img{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.academic__courses__item__title{
    margin-top: 20%;
    
}
.academic__courses__item__title h4{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.academic__courses__item__subtitle{
    margin-top: 0%;
    padding-top: 0%;
}
/* experiencia*/

section.experience{

}

/*Contacto*/

.formcontato{
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    padding: 5%;
    
}
.formcontato__contacto{
    display: flex;
    flex-direction: row;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    width: 656px;
    height: 596px;
}
.formcontato__text h2{
    margin-bottom: 0%;
}
/* texto de contactos */
.formcontato__text h3, h4{
    font-size: small;
    font-weight: lighter;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formcontato__input{
    width: 656px;
    height: 56px;
}
.formcontato__textarea{
    width: 656px;
    height: 133px;
}

.formcontato__botao{
    width: 144px;
    height: 51px;
    color: #FFFFFF;
    background-color: #2A7AE4;
}
/*footeer*/

.footer__rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 389px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/


/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}